# backend/.gitignore

node_modules/
.env

# Bỏ qua tất cả file trong uploads
uploads/*

# Nhưng giữ lại cấu trúc thư mục (để khi clone về máy khác vẫn có folder này)
!uploads/.gitkeep
!uploads/notifications/.gitkeep
!uploads/incidents/.gitkeep