# backend/.gitignore

node_modules/
.env

# Bỏ qua tất cả file trong uploads
public/uploads/*

# Nhưng giữ lại cấu trúc thư mục (để khi clone về máy khác vẫn có folder này)
!public/uploads/.gitkeep
!public/uploads/notifications/.gitkeep
!public/uploads/incidents/.gitkeep
!public/uploads/vehicles/.gitkeep